/*COnf Padrao*/
@font-face {
    font-family: "road Rage";
    src: url("../font/RoadRage.woff");
    font-family: "retro chips";
    src: url("../font/Retrochips.woff");
}

.conteudo{
    color: rgb(5, 5, 5);
    background-color: #777;
    text-align: justify;
    padding: 50px 80px;


}
h3{
    text-transform: uppercase;
    color: rgb(245, 243, 243);
    text-align: center;
    
    font-size: 35px;
}
body, html {
    margin: 0;
    font-family: "retro chips";
    color: #777;
    height: 100%;

}
p{
    margin-bottom: 20px;
    
    color:rgb(235, 224, 224);
}
/*COnf padrao fim*/
/* efeito parallax*/
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6{
    position: relative;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}
.caixa1{
    background-image: url(../imagens/imagem1.jpg);
}
.caixa2 {
    background-image: url(../imagens/imagem2.jpg);
}
.caixa3 {
    background-image: url(../imagens/imagem3.jpg);
}
.caixa4 {
    background-image: url(../imagens/imagem4.jpg);
}
.caixa5 {
    background-image: url(../imagens/imagem5.jpg);
}
.caixa6 {
    background-image: url(../imagens/imagem6.jpg);
}
/*conteudo*/
.conteudo-titulo{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    
    
}
.conteudo-titulo span.titulo {
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size:25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    

}